<div class="min-h-screen max-w-7xl mx-auto pt-16 px-6 lg:px-20">
  <div class="w-full flex justify-center items-center my-5 space-x-5">
    <input
      type="text"
      [(ngModel)]="term"
      name="query"
      (input)="getMovies()"
      placeholder="Search for a movie..."
      class="p-2 w-[300px] text-base bg-transparent outline-none focus:bg-[#cdc2dc]/20 rounded-md border border-[#cdc2dc]/20 focus:text-white"
    />
    <div>
      <!-- Dropdown menu  -->

      <select
        class="bg-transparent outline-none text-white p-1 border border-[#cdc2dc]/20 rounded-lg"
        id="limitSelect"
        [(ngModel)]="limit"
        (change)="onLimitChange()"
      >
        <option class="text-black" value="3">3</option>
        <option class="text-black" value="10">10</option>
      </select>
    </div>
  </div>

  <!-- Grid container -->

  <div
    *ngIf="movies && movies.length > 0"
    class="grid grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-4 my-10"
  >
    <div
      *ngFor="let movie of movies"
      class="flex justify-center w-fit mx-auto mb-14"
    >
      <div
        class="w-[150px] h-[227px] md:w-[190px] md:h-[288px] lg:w-[220px] lg:h-[333px] relative"
      >
        <div
          class="w-full h-full shadow-lg rounded-sm hover:scale-105 duration-200"
        >
          <a [routerLink]="['/movie/', movie.imdbID]">
            <img
              [src]="movie.Poster"
              alt="{{ movie.Title }}"
              class="w-full h-full object-cover rounded-sm"
            />
          </a>
        </div>

        <div class="text-center">
          <h5 class="py-2 text-white truncate">
            {{ movie.Title }} {{ "  " }} ({{ movie.Year }})
          </h5>
        </div>
      </div>
    </div>
  </div>

  <!-- If no results were found, display the container.  -->
  <div
    *ngIf="searchExecuted && (!movies || movies.length === 0)"
    class="flex justify-center items-center mt-20"
  >
    <h3 class="text-3xl text-white">No results found.</h3>
  </div>
</div>
