<nav
  class="h-16 w-full left-0 fixed overflow-hidden z-10 backdrop-blur shadow-md flex items-center px-5"
>
  <div class="mx-auto flex space-x-5">
    <a class="hover:cursor-pointer" href="/home"
      ><img
        src="./../../../../assets/Cinema24logo.png"
        alt="Cinema24"
        class="w-[150px]"
    /></a>
    <a
      href="https://github.com/klajdm/Cinema24"
      target="_blank"
      aria-label="Source"
      matTooltip="Source"
      class="text-[#f3b8b5] flex justify-center items-center"
      ><mat-icon class="text-base">open_in_new</mat-icon></a
    >
  </div>
</nav>
